body{
	min-width: 320px;
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	color: #626262;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	color: #b4ad9e;
}
a:hover{
	color: blueviolet;
}

p{
	line-height: 1.5rem;
	text-align: justify;
}
h2, h3{
	margin: 1rem 0;
	font-size: 30px;
}

.slider {
padding-top: 100px;
}

header .navbar-light{
	background-color: #ffe4d8;
}
header .navbar-brand{
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
	padding-left: 20px;
}

#main-brand {
	color: goldenrod;
}

#brand_name {
	font-family: 'Indie Flower', cursive;
	font-size: 28px;
	color: goldenrod;
}

header .nav-item{
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 50px;
}
header .nav-item a::after{
	content: '';
	display: block;
	width: 100%;
	background-color: purple;
	height: 1px;
	transform: scale(0);
	transition: all .3s;
}
header .nav-item a:hover::after{
	transform: scale(1);
}

.slider{
	margin-bottom: 50px;
}

.post-category,
.link-more{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
	font-weight: 300;
}
.post-title a{
	color: #626262;
}

.grid-posts{
	margin-top: 100px;
	margin-bottom: 100px;
}
.grid-posts .card{
	border: 0;
	margin-bottom: 100px;
}

.grid-posts .card-body{
	padding-left: 0;
	padding-right: 0;
}

.grid-posts .card-img-top{
	max-height: 350px;
	border-radius: 0;
}

.load-more{
	position: relative;
	left: 43%;
	padding: 1rem 2rem;
	border-color: #626262;
	border-radius: 0; 
}
.load-more span{
	display: none;
}

.signup{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup h3{
	color: #333;
}
.signup form{
	margin-top: 70px;
}
.signup .form-input{
	position: relative;
}
.signup .form-control{
	border: 0;
	border-bottom: 1px solid #000;
	border-radius: 0;
	background-color: transparent;
}
.signup .form-control:focus{
	box-shadow: none;
}
.form-input .btn{
	position: absolute;
	right: 0;
	top: -5px;
	font-size: 25px;
}

footer{
	background-color: #ffe4d8;
	padding: 40px 0;
	color: #000;
}
.footer-left a{
	color: #000;
	margin-right: 20px;
}
.footer-right a{
	color: #626262;
	margin-left: 20px;
}

.mobile-number {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: blue;
	font-size: 15px;
}

.mobile {
	text-align: center;
}

#star {
	position: absolute;
	width: 30px;
	left: 120px; 
	top: 19px;
}

#social-networks {
	display: none;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

@media only screen and (max-width : 1199px) {
	.grid-posts .card-img-top{
		max-height: 300px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

@media only screen and (max-width : 991px) {
	header .nav-item{
		margin-left: 0;
	}
	.grid-posts .card-img-top{
		max-height: 220px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 767px) {
	.grid-posts{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.grid-posts .card{
		margin-bottom: 50px;
	}
	.grid-posts .card-img-top{
		max-height: 100%;
	}
}

@media only screen and (max-width : 575px) {
	.footer-left{
		margin-bottom: 10px;
	}
	#main-brand {
		font-size: 20px;
	}
	header .mobile {
		font-size: 12px;
	}
	#star {
		position: absolute;
		width: 17px;
		left: 69px;
		top: 29px;
	}
	.footer-left {
		display: none;
	}
	#social-networks {
		display: inline-block;
	}
	#join-social {
		display: none;
	}
	#footer {
		display: flex;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}